.places__paragraph {
  margin: 0;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  color: inherit;
}

.places__paragraph:last-of-type {
  margin-bottom: 0;
}

