/*Блок page - основной блок, который содержит все блоки html страницы*/
.page {
  max-width: 1440px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothin: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1280px) {
  .page {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1080px) {
  .page {
    max-width: 1080px;
  }
}
@media screen and (max-width: 780px) {
  .page {
    max-width: 780px;
  }
}

@media screen and (max-width: 360px) {
  .page {
    max-width: 360px;
  }
}
