.intro__subtitle {
    margin: 0 0 0 3px;
    padding: 0;

    color: #fecda7;
    text-transform: uppercase;

    /*Настройки отображения текста*/
    font-size: 15px;
    font-weight: 500;
    line-height: 1.0;
    text-transform: uppercase;
    text-align: left;
}
