.places__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 6/5;
}


@media screen and (max-width: 1060px) {
  .places__image {
    grid-row: 1;
  }
}
