.header {
  margin: 0 55px 0 55px;
  
  padding: 0;  

  font-family: 'Inter', Arial, sans-serif; /*Использовать шрифт Inter*/
  color: #050505; /*Цвет шрифта - черный*/

  /*Сглаживание шрифтов*/
  -webkit-font-smoothing: antialiased; /*сглаживание шрифтов в Safari и во всех браузерах на платформе Chromium*/
  -moz-osx-font-smoothing: grayscale; /*сглаживание шрифтов в Mozilla Firefox*/
}
