.intro {
    padding-right: 80px;
    
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: 400px;
    
    color: #050505; /*Цвет шрифта - черный*/

    /*Сглаживание шрифтов*/
    -webkit-font-smoothing: antialiased; /*сглаживание шрифтов в Safari и во всех браузерах на платформе Chromium*/
    -moz-osx-font-smoothing: grayscale; /*сглаживание шрифтов в Mozilla Firefox*/
}