.intro {
    padding-right: 90px;
    display: grid;
    grid-template-columns: auto calc(100vw / 3.6);
    grid-template-rows: calc(100vw / 3.6);
    color: #050505; /*Цвет шрифта - черный*/
}

@media screen and (max-width: 1280px) {
    .intro {

    }
}

@media screen and (max-width: 1100px) {
    .intro {
        grid-template-columns: auto calc(100vw / 4);
        grid-template-rows: calc(100vw / 4);
    }
}

@media screen and (max-width: 786px) {
    .intro {
        padding-right: 20px;
    }
  }

  @media screen and (max-width: 555px) {
    .intro {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        padding-right: 0;
    }
  }