.nav__menu-link {
    margin: 0;
    padding: 0;

    text-decoration: none;
    color: inherit; /*цвет шрифта взять у родителя (указан белый цвет текста для блока header)*/

    /*Настройки отображения текста*/
    font-size: 14px;
    font-weight: 700;  
    text-align: left;    

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.nav__menu-link:hover {
    opacity: 0.5;
}

@media screen and (max-width: 555px) {
    .nav__menu-link {
        font-size: 20px;
    }
  }