.nav__menu_right {    
    margin-left: 30px;
    justify-content: flex-end;        
}

@media screen and (max-width: 555px) {
    .nav__menu_right {
        margin: 0 auto;
        justify-content: flex-end;
    }
  }