.page__wide-content {
  margin-bottom: 150px;
}

@media screen and (max-width: 1080px) {
  .page__wide-content {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 780px) {
  .page__wide-content {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 360px) {
  .page__wide-content {
    margin-bottom: 50px;
  }
}