.intro__title {


    margin: 32px 0 0 0;
    padding: 0;    
    max-width: 618px;

    /*Настройки отображения текста*/
    

    font-size: 39px;
    font-weight: 700;
    line-height: 1.24;

    text-align: left; 
    color: inherit;    
}